.country-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
 
}
.country-list{
    text-align: center;
    border: 1px solid gray;
    border-radius: 10px;
}
.country-list img{
    width: 60%;
}